h1{
    text-align: center;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.select{
    width: 60%;
    padding: 10px;
}
.select1{
    width: 15%;
    padding: 10px;
}
button{
    width: 195px;
    margin-left: 50px;
}

.card{
    width: 80%;
    margin: 0 auto;
}

.card1{
    width: 80%;
    margin: 0 auto;
}
